.tbl-img{
    width:100px;
   
}

.tbl-img:hover{
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    
    position: absolute;
    margin: 0 auto;
    height: 400px;
    width: 700px;
    left: 0px;
    z-index: 1;
}
   
.tbl-img:hover .tbl{
   display: none;
   background: #0b0202;
   opacity: 0.6;
    
} 